*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_done{
    text-decoration-line: line-through;
}